// overriden styles

.main-panel{
    > .content{
        margin-top: 72px;
    }
}

.sidebar .logo a.logo-mini, .off-canvas-sidebar .logo a.logo-mini {
    width: 200px;
}

.sidebar .logo:after, .off-canvas-sidebar .logo:after {
    bottom: -87px;
}

.sidebar .nav li > a, .off-canvas-sidebar .nav li > a > p.cmpt-addrs {
    line-height: 1.5;
    text-transform: none;
}