USE [TOTAL_OFFROAD_Practice]
GO
/****** Object:  Table [dbo].[USR_access_tokens]    Script Date: 3/4/2023 9:45:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USR_access_tokens](
	[client_id] [nvarchar](10) NULL,
	[user_id] [int] NULL,
	[access_token] [nvarchar](40) NULL,
	[access_token_expires_on] [datetime] NULL,
	[refresh_token] [nvarchar](40) NULL,
	[refresh_token_expires_on] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USR_locations]    Script Date: 3/4/2023 9:45:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USR_locations](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[text] [nvarchar](50) NOT NULL,
	[createdDate] [datetime] NOT NULL,
	[updateDate] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USR_members]    Script Date: 3/4/2023 9:45:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USR_members](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[text] [nvarchar](50) NOT NULL,
	[color] [nvarchar](50) NULL,
	[createdDate] [datetime] NOT NULL,
	[updateDate] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USR_oauth_clients]    Script Date: 3/4/2023 9:45:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USR_oauth_clients](
	[client_id] [nvarchar](15) NULL,
	[client_secret] [nvarchar](15) NULL,
	[redirect_uri] [nvarchar](100) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USR_schedules]    Script Date: 3/4/2023 9:45:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USR_schedules](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[subject] [nvarchar](100) NOT NULL,
	[utcDateFrom] [datetime] NOT NULL,
	[utcDateTo] [datetime] NOT NULL,
	[description] [nvarchar](250) NULL,
	[utcCreatedDate] [datetime] NOT NULL,
	[utcUpdateDate] [datetime] NULL,
	[invoiceNo] [varchar](50) NULL,
	[allDay] [char](1) NULL,
	[recurrenceRule] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USR_schedules_technicians]    Script Date: 3/4/2023 9:45:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USR_schedules_technicians](
	[schedId] [int] NOT NULL,
	[technicianId] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_USR_sched_members2] PRIMARY KEY CLUSTERED 
(
	[schedId] ASC,
	[technicianId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USR_sessions]    Script Date: 3/4/2023 9:45:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USR_sessions](
	[sid] [nvarchar](255) NOT NULL,
	[session] [nvarchar](max) NOT NULL,
	[expires] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[sid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USR_sessions_schedules]    Script Date: 3/4/2023 9:45:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USR_sessions_schedules](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[userId] [dbo].[T_USR_ID] NOT NULL,
	[locationId] [dbo].[T_LOC_ID] NOT NULL,
	[createdDate] [dbo].[T_DAT] NOT NULL,
	[expiryDate] [dbo].[T_DAT] NOT NULL,
	[sessionId] [dbo].[T_GUID] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USR_users]    Script Date: 3/4/2023 9:45:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USR_users](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[email] [nvarchar](50) NOT NULL,
	[username] [nvarchar](50) NOT NULL,
	[password] [nvarchar](50) NOT NULL,
	[createdDate] [datetime] NOT NULL
) ON [PRIMARY]
GO
INSERT [dbo].[USR_access_tokens] ([client_id], [user_id], [access_token], [access_token_expires_on], [refresh_token], [refresh_token_expires_on]) VALUES (N'computant', 1, N'36e9ff30e22a1ffc87414b56221f7c771c54d347', CAST(N'2022-11-22T22:18:21.513' AS DateTime), N'497397c855a59e4620b47e204a3077a0f9367b42', CAST(N'2022-12-06T21:18:21.513' AS DateTime))
INSERT [dbo].[USR_access_tokens] ([client_id], [user_id], [access_token], [access_token_expires_on], [refresh_token], [refresh_token_expires_on]) VALUES (N'computant', 1, N'c35ba1cc8371fef04f00e4a5d4fd7673737c1f4f', CAST(N'2022-11-22T22:19:54.447' AS DateTime), N'cbae9a607e40716b12321746f22e753ec95aa449', CAST(N'2022-12-06T21:19:54.447' AS DateTime))
INSERT [dbo].[USR_access_tokens] ([client_id], [user_id], [access_token], [access_token_expires_on], [refresh_token], [refresh_token_expires_on]) VALUES (N'computant', 1, N'934dbe6141a6f543ad64bb9a49c8d9c055cf6c68', CAST(N'2022-11-23T13:41:48.763' AS DateTime), N'109dc06b48cdea32bfb92ee4e70109b6d6c60d92', CAST(N'2022-12-07T12:41:48.763' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[USR_locations] ON 

INSERT [dbo].[USR_locations] ([id], [text], [createdDate], [updateDate]) VALUES (1, N'Room 1', CAST(N'2023-01-22T05:12:42.337' AS DateTime), NULL)
INSERT [dbo].[USR_locations] ([id], [text], [createdDate], [updateDate]) VALUES (2, N'Room 2', CAST(N'2023-01-22T05:12:46.283' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[USR_locations] OFF
GO
SET IDENTITY_INSERT [dbo].[USR_members] ON 

INSERT [dbo].[USR_members] ([id], [text], [color], [createdDate], [updateDate]) VALUES (1, N'Andrew Glover', N'Yellow', CAST(N'2023-01-22T05:09:29.720' AS DateTime), NULL)
INSERT [dbo].[USR_members] ([id], [text], [color], [createdDate], [updateDate]) VALUES (2, N'Arnie Schwartz', N'Red', CAST(N'2023-01-22T05:09:15.110' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[USR_members] OFF
GO
INSERT [dbo].[USR_oauth_clients] ([client_id], [client_secret], [redirect_uri]) VALUES (N'computant', N'nightworld', NULL)
GO
SET IDENTITY_INSERT [dbo].[USR_schedules] ON 

INSERT [dbo].[USR_schedules] ([id], [subject], [utcDateFrom], [utcDateTo], [description], [utcCreatedDate], [utcUpdateDate], [invoiceNo], [allDay], [recurrenceRule]) VALUES (34, N'Email Lupicia (lzuru)', CAST(N'2023-02-19T16:00:00.000' AS DateTime), CAST(N'2023-02-19T16:00:00.000' AS DateTime), N'Check if everything''s okay.', CAST(N'2023-01-20T02:39:35.243' AS DateTime), CAST(N'2023-02-14T09:22:20.307' AS DateTime), N'100527', N'Y', NULL)
INSERT [dbo].[USR_schedules] ([id], [subject], [utcDateFrom], [utcDateTo], [description], [utcCreatedDate], [utcUpdateDate], [invoiceNo], [allDay], [recurrenceRule]) VALUES (76, N'Wheel alignment.', CAST(N'2023-01-26T01:00:00.000' AS DateTime), CAST(N'2023-01-26T01:30:00.000' AS DateTime), N'repair.', CAST(N'2023-01-23T22:39:49.217' AS DateTime), CAST(N'2023-01-24T23:20:04.920' AS DateTime), N'70030', NULL, NULL)
INSERT [dbo].[USR_schedules] ([id], [subject], [utcDateFrom], [utcDateTo], [description], [utcCreatedDate], [utcUpdateDate], [invoiceNo], [allDay], [recurrenceRule]) VALUES (93, N'Test allDay 33', CAST(N'2023-02-07T16:00:00.000' AS DateTime), CAST(N'2023-02-07T16:00:00.000' AS DateTime), N'test allDay. desc 33', CAST(N'2023-01-31T22:27:02.750' AS DateTime), CAST(N'2023-02-14T03:41:57.060' AS DateTime), N'70036', N'Y', NULL)
SET IDENTITY_INSERT [dbo].[USR_schedules] OFF
GO
INSERT [dbo].[USR_schedules_technicians] ([schedId], [technicianId]) VALUES (34, N'MGR2')
INSERT [dbo].[USR_schedules_technicians] ([schedId], [technicianId]) VALUES (34, N'POS1')
INSERT [dbo].[USR_schedules_technicians] ([schedId], [technicianId]) VALUES (70, N'Z')
GO
INSERT [dbo].[USR_sessions] ([sid], [session], [expires]) VALUES (N'1CDqXndz5Ph4rGms4h8NXpCegRZ3gaIH', N'{"cookie":{"originalMaxAge":null,"expires":null,"httpOnly":true,"path":"/"},"accessToken":"36e9ff30e22a1ffc87414b56221f7c771c54d347"}', CAST(N'2022-11-23T21:18:21.527' AS DateTime))
INSERT [dbo].[USR_sessions] ([sid], [session], [expires]) VALUES (N'r8kWsWxGZ5HCSiDr5x108xFjQUCRysU-', N'{"cookie":{"originalMaxAge":null,"expires":null,"httpOnly":true,"path":"/"}}', CAST(N'2022-11-23T21:19:20.357' AS DateTime))
INSERT [dbo].[USR_sessions] ([sid], [session], [expires]) VALUES (N'tnQzpCcuH6shXc4YYnTYLAKDz7cRWZmT', N'{"cookie":{"originalMaxAge":null,"expires":null,"httpOnly":true,"path":"/"},"accessToken":"c35ba1cc8371fef04f00e4a5d4fd7673737c1f4f"}', CAST(N'2022-11-23T21:19:54.450' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[USR_sessions_schedules] ON 

INSERT [dbo].[USR_sessions_schedules] ([id], [userId], [locationId], [createdDate], [expiryDate], [sessionId]) VALUES (11, N'CCCI', N'RICHMOND', CAST(N'2023-03-03T17:03:07.560' AS DateTime), CAST(N'2023-03-05T23:33:07.560' AS DateTime), N'6796b252-7279-47d1-9be9-986edd99d6c8')
INSERT [dbo].[USR_sessions_schedules] ([id], [userId], [locationId], [createdDate], [expiryDate], [sessionId]) VALUES (12, N'ADAML', N'GREENVILLE', CAST(N'2023-03-03T18:37:12.077' AS DateTime), CAST(N'2023-03-03T19:07:12.077' AS DateTime), N'40861d3e-bd62-4c96-bc72-6a1def6a7309')
INSERT [dbo].[USR_sessions_schedules] ([id], [userId], [locationId], [createdDate], [expiryDate], [sessionId]) VALUES (13, N'ADAML', N'GREENVILLE', CAST(N'2023-03-03T20:56:26.360' AS DateTime), CAST(N'2023-03-03T21:26:26.360' AS DateTime), N'0f4b6fee-ff87-4fb5-886c-71c8f0e0a680')
SET IDENTITY_INSERT [dbo].[USR_sessions_schedules] OFF
GO
SET IDENTITY_INSERT [dbo].[USR_users] ON 

INSERT [dbo].[USR_users] ([id], [email], [username], [password], [createdDate]) VALUES (1, N'jhunexjun@gmail.com', N'jhun', N'jhun', CAST(N'2022-12-02T14:49:02.560' AS DateTime))
SET IDENTITY_INSERT [dbo].[USR_users] OFF
GO
ALTER TABLE [dbo].[USR_locations] ADD  CONSTRAINT [DF_USR_locations_createdDate]  DEFAULT (getutcdate()) FOR [createdDate]
GO
ALTER TABLE [dbo].[USR_members] ADD  CONSTRAINT [DF_USR_OWNER_createdDate]  DEFAULT (getutcdate()) FOR [createdDate]
GO
ALTER TABLE [dbo].[USR_schedules] ADD  CONSTRAINT [DF_USR_SCHEDULER2_createdDate]  DEFAULT (getutcdate()) FOR [utcCreatedDate]
GO
ALTER TABLE [dbo].[USR_sessions_schedules] ADD  CONSTRAINT [DF_USR_sessions_schedules_createdDate]  DEFAULT (getutcdate()) FOR [createdDate]
GO
ALTER TABLE [dbo].[USR_users] ADD  CONSTRAINT [DF_USR_users1_createdDate]  DEFAULT (getdate()) FOR [createdDate]
GO
/****** Object:  StoredProcedure [dbo].[USER_SCHD_Add]    Script Date: 3/4/2023 9:45:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[USER_SCHD_Add]
	@sessionId T_GUID,
	@subject NVARCHAR(100),
	@utcDateFrom T_DAT,
	@utcDateTo T_DAT,
	@description NVARCHAR(500),
	@invoiceNo T_DOC_NO
	--@allDay CHAR(1),
	--@recurrenceRule CHAR(1),

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    declare @STR_ID T_LOC_ID;

	set @STR_ID = (select locationId from USR_sessions_schedules where sessionId = @sessionId and expiryDate > GETUTCDATE());
	IF (ISNULL(@STR_ID, '') = '')
	begin
		select -1 as errorNo, 'Expired session' as errMsg;
		return;
	end

	insert into USR_schedules([subject], utcDateFrom, utcDateTo, [description], invoiceNo)
	values(@subject, @utcDateFrom, @utcDateTo, @description, @invoiceNo);

	select @@identity as newId
END
GO
/****** Object:  StoredProcedure [dbo].[USER_SP_GET_Schedules]    Script Date: 3/4/2023 9:45:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[USER_SP_GET_Schedules]
	@sessionId T_GUID,
	@technicianId nvarchar(20)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	declare @STR_ID T_LOC_ID;

	set @STR_ID = (select locationId from USR_sessions_schedules where sessionId = @sessionId and expiryDate > GETUTCDATE());

    IF (ISNULL(@STR_ID, '') != '')
	begin -- if session not yet expired
		if (@technicianId = 'ALL')	-- No filtering of technicians
		begin
			select scheds.id, scheds.subject, scheds.utcDateFrom, scheds.utcDateTo, scheds.description, scheds.invoiceNo, schedTech.technicianId
				, allDay, recurrenceRule
			from USR_schedules scheds left join USR_schedules_technicians schedTech on scheds.id = schedTech.schedId
			order by scheds.id
		end
		else
		begin
			select scheds.id, scheds.subject, scheds.utcDateFrom, scheds.utcDateTo, scheds.description, scheds.invoiceNo, schedTech.technicianId
				, allDay, recurrenceRule
			from USR_schedules scheds left join USR_schedules_technicians schedTech on scheds.id = schedTech.schedId
			where schedTech.technicianId = @technicianId
			order by scheds.id
		end
		
	end
	else
	begin
		select -1 as errorNo, 'Expired session' as errMsg;
	end
END
GO
/****** Object:  StoredProcedure [dbo].[USER_SP_GET_Technicians]    Script Date: 3/4/2023 9:45:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[USER_SP_GET_Technicians]
	@sessionId T_GUID
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	SET NOCOUNT ON;

	IF EXISTS(select id from USR_sessions_schedules where sessionId = @sessionId and expiryDate > GETUTCDATE())
		select USR_ID, NAM, PHONE_1 from SY_USR where LST_STR_ID = (select locationId from USR_sessions_schedules where sessionId = @sessionId);
	else
		select -1 as errorNo, 'Expired session' as errMsg;
END
GO
/****** Object:  StoredProcedure [dbo].[USER_SP_Scheduler_Sessions]    Script Date: 3/4/2023 9:45:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[USER_SP_Scheduler_Sessions]
	@userId T_USR_ID
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	declare @STR_ID T_LOC_ID, @GUID	T_GUID --, @newSchedulerId T_INT;

    set @STR_ID = (select LST_STR_ID from SY_USR where USR_ID = @userId);
	set @GUID = NewID();

	insert into USR_sessions_schedules(userId, locationId, sessionId, expiryDate)
		values(@userId, @STR_ID, @GUID, DATEADD(mi, 30, GETUTCDATE()));

	--set @newSchedulerId = (select @@identity);
	select sessionId from USR_sessions_schedules where id = (select @@identity);
END
GO
