/* Override the width of the Scheduler's popup. */
.dx-scheduler-appointment-popup .dx-popup-normal {
  max-width: 35vw !important;
}

/* .dx-item.dx-list-item.dx-list-item-selected.dx-state-hover > */
  /* .dx-item-content.dx-list-item-content > */

#cmpt-sched-wo-bg-unscheduled {
  background-color: #e0f5e0;
}

#cmpt-sched-wo-bg-scheduled {
  background-color: #f5e1e1;
}