#sms-card {
  margin-bottom: 0;
}

.cmpt-customer-list .name {
  color: #3b71ca;
  font-weight: 700;
}

.cmpt-customer-no {
  font-size: 15px;
}

.cmpt-customer-name {
  font-size: 16px;
  font-weight: bold;
}

.cmpt-customer-and-text {
  border-width: 0.5px;
  border-style:dotted;
  border-radius: 8px;
}

.cmpt-hr {
  margin-top: 0;
  margin-bottom: 5px;
}

.cmpt-conversation {
  box-shadow: 0 6px 10px 3px rgba(0, 0, 0, 0.15);
}

/* #cmpt-textbox {
  background: #fafafa;
  line-height: 1.2;
} */

.cmpt-notifcation {
  position: relative;
  bottom: 37px;
  right: -18px;
  color: red;
  font-weight: 600;
}