/*.sms-font {
	font-family: Roboto, Helvetica, Arial, sans-serif;
}
*/
.left {
	height: 650px;
	background: rgba(191, 191, 191, 0.15);
	padding: 20px;
}

.left .list .dx-list-group-header {
  color: #f05b41;
  font-weight: normal;
  font-size: 18px;
}

.customer-list .name {
	color: #3b71ca;
	font-weight: 700;
}

.header .name-container {
	float: left;
}

.header .name-container .name {
	font-size: 24px;
	font-weight: bold;
}

.header .mobile-phone-container {
	float: right;
}